HOST=127.0.0.1
PORT=5000
SERIAL_PORT= # Su linux tipicamente /dev/ttyACM0, su windows tipicamente COM3 o COM4, da vedere in device manager
SERIAL_BAUDRATE=9600
DATA_FILE="data.csv"
IRRIGATION_FILE="irrigation.csv"
IRRIGATION_CHECK_PERIOD=15
PUMP_OPENING_THRESHOLD=1.5