<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Irrigazione di precisione</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script type="text/javascript">
       window.config = {
            serverIp: "{{ server_ip }}",
            moistureScaleMin: "{{ moisture_scale_min }}",
            moistureScaleMax: "{{ moisture_scale_max }}",
            timestamp: "{{ timestamp }}",
            uploadStatus: "{{ upload_status }}"
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
        integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@1.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>
    <script src="https://kit.fontawesome.com/1df86e7f33.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
    <!-- Include your custom scripts after the libraries -->
    <script src="{{ url_for('static', filename='optimals.js') }}"></script>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
    <script src="{{ url_for('static', filename='realtime-line-chart.js') }}"></script>
    <script src="{{ url_for('static', filename='matrix-chart.js') }}"></script>
    <script src="{{ url_for('static', filename='realtime-irrigation-line-chart.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='irrigation-controls.js') }}"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

        body {
            font-family: 'Montserrat', sans-serif;
        }

        .blinking-element-off {
            animation: blinkAnimation 4s ease-in-out infinite;
            color: red;
        }

        .blinking-element-on {
            animation: blinkAnimation 4s ease-in-out infinite;
            color: green;
        }

        @keyframes blinkAnimation {

            0%,
            50%,
            100% {
                opacity: 1;
            }

            25%,
            75% {
                opacity: 0;
            }
        }
    </style>
</head>

<body>

    <div class="modal fade" id="syncingModal" tabindex="-1" aria-labelledby="syncingModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="syncingModalLabel">Sincronizando i dati con l'Arduino</h5>
                </div>
                <div class="modal-body">
                    Sincronizzando i dati, attendere prego...
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="optimalSelectionModal" tabindex="-1" aria-labelledby="optimalSelectionModal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="optimalSelectionModalLabel">Scegli regola</h5>
                </div>
                <div class="modal-body" id="optimalsContainer">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="moistureRangeSelectionModal" tabindex="-1" aria-labelledby="moistureRangeSelectionModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="moistureRangeSelectionModalLabel">Preferenze</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="moistureRangeContainer">
                    <div class="row">
                        <span class="fs-4 text pb-1">Scegli l'intervallo di umidità</span>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="minMoisture" class="form-label">Minimo</label>
                        </div>
                        <div class="col-3">
                            <input min="{{ moisture_scale_min }}" max="{{ moisture_scale_max }}" type="number" id="minMoisture" class="form-control" />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="maxMoisture" class="form-label">Massimo</label>
                        </div>
                        <div class="col-3">
                            <input min="0" max="100" type="number" id="maxMoisture" class="form-control" />
                        </div>
                    </div>
                    <div class="row pt-2 pb-1">
                        <div class="row">
                            <span class="fs-4 text">Salvataggio dati</span>
                        </div>
                        <div class="row form-check form-switch" style="padding-left: calc(var(--bs-gutter-x) * .5);">
                            <div class="col-4">
                                <input class="form-check-input" type="checkbox" role="switch" id="persistency" checked style="float: right;">
                                <label for="persistency" class="form-label" >Persistenza</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                        id="moistureRangeSelectionModalConfirm">Conferma</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center p-0 w-100 m-0 mw-100">

        <div class="row w-100 m-0 p-0" style="height: 10%">
            <h1 class="text-center fw-bold mt-3">Irrigazione di precisione</h1>
            <span style="position: absolute;right: 20px;width: 24px;top: 10px;"><i class="fa-solid fa-gear fa-xl"
                    id="settingsButton" style="color: grey; cursor: pointer;"></i></span>
        </div>

        <div class="row w-100 m-0 p-0" style="height: 10%">
            <div class="col-8 content-center">
                <h2 class="text-center fw-bold">Sensori in tempo reale</h2>
            </div>
            <div class="col-4 content-center">
                <h2 class="text-center fw-bold">Matrice di umidità</h2>
            </div>
        </div>

        <div class="row w-100 m-0 p-0" style="height: 30%">
            <div class="col-8">
                <canvas id="lineChart" height="400" style="max-height: 410px; display: initial;"></canvas>
            </div>
            <div class="col-4 content-center">
                <canvas id="matrixChart" height="400" width="400"
                    style="max-height: 400px; max-width: 410px; display: initial;"></canvas>

            </div>
        </div>

        <div class="row w-100 m-0 p-0 pt-1" style="height: 10%">
            <div class="col-8 content-center">
                <h2 class="text-center fw-bold">Gestione irrigazione</h2>
            </div>
            <div class="col-4">
                <h2 class="text-center fw-bold">Regola di irrigazione</h2>
            </div>
        </div>
        <div class="row w-100 m-0 p-0" style="height: 30%">
            <div class="col-8 content-center">
                <canvas id="irrigationLineChart" height="400" style="max-height: 410px; display: initial;"></canvas>
            </div>
            <div class="col-4">
                <div class="col content-center w-100 h-100" id="irrigationControlContainer">
                </div>
            </div>
        </div>

        <div class="row w-100 m-0 p-0" style="height: 10%">
            <div class="col-2" style="align-content: center;">
                <p class="m-0 ms-2 text-start">Modalità pompa: <span id="pumpMode">Manuale</span></p>
                <p class="m-0 ms-2 text-start">Stato della pompa: <span id="pumpStatus">Off</span> <i
                        class="fa-solid fa-circle blinking-element" id="blinkingCircle"></i></p>
            </div>
            <div class="col-2" style="align-content: center;">
                <button class="btn btn-primary" id="toggleMode">Cambia modalità</button>
            </div>
            <div class="col-2" style="align-content: center;">
                <button class="btn btn-primary" id="togglePump">Attiva/disattiva pompa</button>
            </div>
            <div class="col-2"></div>
            <div class="col-4" style="align-content: center;">
                <button class="btn btn-primary" id="chooseOptimal" disabled="">Scegli regola</button>
            </div>
        </div>
    </div>
</body>

</html>